

.icon-i{
  height: 28px;
  width: 27px;
  position: relative;
  top: 7px;
}

.text p{
   font-size: 20px;
   margin-top: -11px;
}

.icon-store{
  display: flex;
  width: 124px;

  
  height: 42px;
  background-color: black;
  color: white;
  border-radius: 8px;
}

.icon-container{
  display: flex;
  gap: 23px;
}


.icon-store:hover{
  cursor: pointer;
}