.product-container {
  flex: 0 0 calc(100% / 6);   /* 6 items per view */
  max-width: 232px;           /* optional safety */
  height: 273px;
}

.product-image{
  height: 207.833px;
  width: 100%;

  border-radius: 18px;
  background-repeat: no-repeat;
  background-size: cover;
}



.product-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.subtitle{
  font-size: 17px;
  margin: 0px;
}
.title{
  font-size: 21px;
  font-weight: bold;
  margin: 0px;
  
}