


.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  width: 594px;
  font-size: 14px;

}

.nav-bar, .search-bar, .action{
  align-items: center;
}
.nav-item-links{
 text-decoration: none; 
 color: black;
 text-align: center;
 letter-spacing: 2px;
 font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
 font-weight:bold;

}

.search-bar{
  display: flex;
  border: 1px solid gainsboro;
  padding: 2px 8px 2px 8px;
  border-radius: 3px;
  font-size: 18px;
  
  
}

#search-input{
  width: 388px;
  /* border: 1.5px solid gainsboro; */
  font-size: 16px;
  padding: 4px;
  border: none;
  outline: none;
}

.action{
  width: 170px;
  display: flex;
  justify-content: space-around;
}

.search-icon{
  height: 33px;
  text-align: center;
  margin-right: 7px;
}



/* action icons  */

.action-icon{
  height: 18px;
  width: 18px;
  color: rgb(57, 56, 56);
}


.action-item{
  text-align: center;
  
}

.icon-info{
  font-weight: bold;
  font-size: 12px;
  color: black;

}

.search-bar, #search-input{
  background-color: #f9f9f9;
}


.anchor{
  text-decoration: none;
}


/* herror image */
.hero-image{
  display: flex;
  justify-content: center;
  margin: 12px 62px 0px 97px;
  
}

#heroimage{
  width: 100%;
}